################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/CECE82772D1998408E3CFA1548003A4B
/.vs/RampageWebsite/CopilotIndices/17.14.827.52834
/.vs/RampageWebsite/config
/.vs/RampageWebsite/FileContentIndex
/.vs/RampageWebsite/copilot-chat/5fd3741a/sessions
/.vs/RampageWebsite/v17
/.vs
